name: CI and Build

on:
  push:
    branches: master
    paths:
      - "app/**"
      - "requirements.txt"
  pull_request:
    branches: master
    paths:
      - "app/**"
      - "requirements.txt"

jobs:
    test_backend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            
            - name: Set up Python
              uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
              with:
                  python-version: '3.11.9'
            
            - name: Cache Python packages
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              id: pip-cache
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
                restore-keys: |
                    ${{ runner.os }}-pip-
            
            - name: Install backend dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            
            - name: Test FastAPI endpoint
              run: |
                  # Start FastAPI in background (adjust as needed)
                  nohup uvicorn app.app:app --host 0.0.0.0 --port 8000 > uvicorn.log 2>&1 &
                  SERVER_PID=$!

                  # Wait for server to start
                  sleep 10

                  # Test the endpoint
                  curl -f -X POST -F "file=@test_images/apple.jpg" http://localhost:8000/predict || (cat uvicorn.log && exit 1)
                  
                  # Kill the FastAPI server
                  kill $SERVER_PID
