name: CI and Build

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
    test_backend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            
            - name: Set up Python
              uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
              with:
                  python-version: '3.11.9'
            
            - name: Cache Python packages
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              id: pip-cache
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
                restore-keys: |
                    ${{ runner.os }}-pip-
            
            - name: Install backend dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            
            - name: Test FastAPI endpoint
              run: |
                  # Start FastAPI in background (adjust as needed)
                  nohup uvicorn app.app:app --host 0.0.0.0 --port 8000 > uvicorn.log 2>&1 &
                  SERVER_PID=$!

                  # Wait for server to start
                  sleep 10

                  # Test the endpoint
                  curl -f -X POST -F "file=@test_images/apple.jpg" http://localhost:8000/predict || (cat uvicorn.log && exit 1)
                  
                  # Kill the FastAPI server
                  kill $SERVER_PID
    
    test_frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            
            - name: Set up Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: '20.19.5'
            
            - name: Cache Node.js modules
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                path: |
                  ~/.npm
                  frontend/node_modules
                key: ${{ runner.os }}-node-${{ hashFiles('frontend/package-lock.json') }}
                restore-keys: |
                  ${{ runner.os }}-node-
            
            - name: Install frontend dependencies
              working-directory: frontend
              run: npm ci
            
            - name: Run frontend tests
              working-directory: frontend
              run: npm test -- --watchAll=false
