name: Frontend CI

on:
  push:
    branches: master
    paths: "frontend/**"
  pull_request:
    branches: master
    paths: "frontend/**"

jobs:
    test_frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            
            - name: Set up Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: '20.19.5'
            
            - name: Cache Node.js modules
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                path: |
                  ~/.npm
                  frontend/node_modules
                key: ${{ runner.os }}-node-${{ hashFiles('frontend/package-lock.json') }}
                restore-keys: |
                  ${{ runner.os }}-node-
            
            - name: Install frontend dependencies
              working-directory: frontend
              run: npm ci
            
            - name: Build frontend app
              working-directory: frontend
              run: npm run build

            - name: Start frontend app
              working-directory: frontend
              run: |
                npm start &
                echo $! > frontend_app_pid.txt
                # Wait for app to be ready (retry up to 10 times)
                for i in {1..10}; do
                  curl --fail http://localhost:3000 && break
                  echo "Waiting for app to start..."
                  sleep 3
                done
              env:
                CI: true

            - name: Stop frontend app
              working-directory: frontend
              if: always()
              run: kill $(cat frontend_app_pid.txt)
